<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapitre 1 du coran</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>In the Name of Allah—the Most Compassionate, Most Merciful.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>All praise is for Allah—Lord of all worlds,</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>the Most Compassionate, Most Merciful,</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
     <ion-card-subtitle>Master of the Day of Judgment.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>You ˹alone˺ we worship and You ˹alone˺ we ask for help.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Guide us along the Straight Path,</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
     <ion-card-subtitle>Guide us along the Straight Path,</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
     <ion-card-subtitle>the Path of those You have blessed—not those You are displeased with, or those who are astray.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

